# Ignore node_modules in client and server
node_modules/
client/node_modules/
server/node_modules/

# Ignore logs
*.log

# Ignore environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore build folders
client/build/
server/build/

# Ignore OS files
.DS_Store
Thumbs.db
